<!DOCTYPE html>
<!-- main-fragment(title,otherStaticResource,header,mainContent,footer) -->
<html xmlns:th="http://www.thymeleaf.org" th:replace="layouts/main-layout::main-fragment(
        ~{::title},
        ~{},
        ~{:: #about-header},
        ~{:: #about-main-content},
        ~{:: #about-footer})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title of About page</title>
</head>

<body>
    <div id="about-header">
        Header of About page
    </div>
    <div id="about-main-content">
        Contents of About page
    </div>
</body>

</html>